@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --skyBlue: #bbe2f2;
  --green: #b7e3b6;
  --yellow: #ffeb94;
  --sand: #e9dccc;
  --dustyPink: #f2d1c9;
  --darkGrey: #666666;
  --lightGrey: #b2bec3;
  --lighterGrey: #e6e6e6;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #d2d2d2;
  padding: 0;
  margin: 0;
}
#wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.5);
}
ul {
  list-style: none;
}
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}
.gridTwo {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 2fr);
}
.header h1 {
  font-size: 60px;
  color: var(--darkGrey);
  margin-left: 30px;
}
.header__column {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px 0 20px;
}
.header__nav span {
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
  margin-bottom: 20px;
  color: var(--lightGrey);
}
.header__nav li {
  text-transform: capitalize;
  color: var(--darkGrey);
  margin-left: 5px;
  margin-bottom: 7px;
}
.header__nav {
  margin-top: 15px;
}

/* main grid */
main {
  margin: 50px 0;
}
.gridThree {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-rows: minmax(300px, 25vh);
  grid-gap: 10px;
  color: var(--darkGrey);
}
.grid__cell {
  padding: 25px;
  background-size: cover;
  background-position: center center;
}
.more {
  display: grid;
  grid-template-rows: 1fr 30px;
}
.grid__cell a {
  text-decoration: none underline;
  color: var(--darkGrey);
}
.grid__cell h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}
.grid__cell h2 {
  font-weight: normal;
  text-transform: capitalize;
}
.grid__cell .description {
  font-size: 15px;
}
.grid__cell .moreLink {
  font-size: 14px;
}
.grid__cell:first-child {
  grid-row: 1/3;
  background-color: var(--skyBlue);
}
.grid__cell:nth-child(2) {
  grid-area: 1/2/3/4;
  background-image: url(https://images.pexels.com/photos/3302434/pexels-photo-3302434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:nth-child(3) {
  background-color: var(--green);
}
.grid__cell:nth-child(4) {
  grid-area: 3/2/5/3;
  background-image: url(https://images.pexels.com/photos/1484759/pexels-photo-1484759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:nth-child(5) {
  background-color: var(--yellow);
}
.grid__cell:nth-child(6) {
  background-color: var(--lighterGrey);
}
.grid__cell:nth-child(7) {
  background-image: url(https://images.pexels.com/photos/838869/pexels-photo-838869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:nth-child(8) {
  grid-area: 5/1/7/3;
  background-color: var(--dustyPink);
}
.grid__cell:nth-child(9) {
  grid-area: 5/3/7/4;
  background-image: url(https://images.pexels.com/photos/109555/pexels-photo-109555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:nth-child(10) {
  grid-area: 7/1/9/3;
  background-image: url(https://images.pexels.com/photos/942734/pexels-photo-942734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:nth-child(11) {
  background-image: url(https://images.pexels.com/photos/1008743/pexels-photo-1008743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:nth-child(12) {
  background-image: url(https://images.pexels.com/photos/289649/pexels-photo-289649.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:nth-child(13) {
  grid-area: 9/1/11/3;
  background-color: var(--green);
}
.grid__cell:nth-child(14) {
  background-image: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.grid__cell:last-child {
  background-color: var(--yellow);
  display: grid;
  grid-template-rows: 60px 1fr;
}
.grid__cell:last-child div {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  row-gap: 5px;
  align-content: center;
}
.inputEmail,
.inputBtn {
  color: var(--darkGrey);
  margin-top: 10px;
  border: none;
  font-size: 16px;
  max-height: 40px;
}
.inputEmail {
  width: 95%;
  padding-left: 10px;
}
.inputBtn {
  border-radius: 5%;
  width: 80%;
  justify-self: center;
  cursor: pointer;
  background-color: #ffdf60;
  box-shadow: 0 2px 6px 0 rgba(32, 33, 36, 0.1);
}
.inputBtn:hover {
  box-shadow: 0 2px 6px 0 rgba(32, 33, 36, 0.3);
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  font-size: 13px;
  grid-auto-rows: minmax(170px, 1fr);
  color: var(--darkGrey);
}
.footer__nav {
  padding: 0 10px;
}
.footer__nav li {
  margin-bottom: 3px;
}
.footer__nav:nth-child(1) {
  justify-self: end;
}
.footer__nav:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
@media (max-width: 1440px) {
  body {
    background-color: #ffffff;
  }
  #wrapper {
    width: 100%;
    padding: 0;
  }
}
