.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.header__column i {
  margin-left: 3px;
}

.nav h1 {
  font-size: 35px;
  margin-bottom: 50px;
}
.nav__items {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 135px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-bottom: 30px;
  border-bottom: var(--border);
  text-align: center;
}
.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.7;
}
#nav-selected,
.nav__item:hover {
  opacity: 1;
}
.item__icon {
  width: 105px;
  height: 105px;
  background-color: white;
  border-radius: 50%;
  box-shadow: -1px 3px 46px -17px rgba(0, 0, 0, 0.6);
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__txt {
  font-weight: bold;
}
