@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  overflow: hidden;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #f4f4f5;
  height: 100vh;
}

.header {
  padding: 30px 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.header .header__title {
  margin-left: 30px;
}
.header .header__title-strong {
  font-weight: bold;
}
.slideshow {
  height: 78vh;
  padding: 0 90px;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  grid-auto-columns: 280px;
  grid-template-rows: 60vh;
  column-gap: 40px;
  overflow: scroll;
}
.slideshow__slide {
  display: grid;
  grid-template-rows: 5fr 1.5fr;
  box-shadow: 0px 14px 26px -1px rgba(0, 0, 0, 0.6);
}
.slideshow .slide__img {
  background-size: cover;
  background-position: center;
}
.slideshow__slide:hover {
  cursor: pointer;
  animation: in 0.5s ease-out both;
}
@keyframes in {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1.05) translateY(0);
  }
}
.slideshow :nth-child(1) .slide__img,
.slideshow :nth-child(5) .slide__img {
  background-image: url(https://images.pexels.com/photos/3882638/pexels-photo-3882638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.slideshow :nth-child(2) .slide__img,
.slideshow :nth-child(6) .slide__img {
  background-image: url(https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.slideshow :nth-child(3) .slide__img,
.slideshow :nth-child(7) .slide__img {
  background-image: url(https://images.pexels.com/photos/2274729/pexels-photo-2274729.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.slideshow :nth-child(4) .slide__img,
.slideshow :nth-child(8) .slide__img {
  background-image: url(https://images.pexels.com/photos/3953050/pexels-photo-3953050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.slideshow .slide__info {
  text-align: center;
  align-self: center;
}
.slide__info h2,
h3 {
  font-weight: bold;
}
.slide__info h2 {
  font-size: 20px;
}

.footer {
  padding: 0 60px;
  background-color: white;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__map {
  text-transform: uppercase;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: repeat(auto-fill, minmax(min-content, 1fr));
  column-gap: 50px;
}
.footer .footer__map li {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  cursor: pointer;
}
.footer .footer__map .footer-selected,
.footer .footer__social i,
.footer .footer__map li:hover {
  color: rgba(0, 0, 0, 0.8);
}
.footer .footer__social {
  display: flex;
  align-items: center;
}
.footer .footer__social i {
  cursor: pointer;
  font-size: 22px;
}
.footer .footer__social i:last-child {
  margin-left: 30px;
}
@media (max-width: 768px) {
  * {
    overflow-y: auto;
  }
  .footer {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    height: min-content;
  }
  .footer .footer__map {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(min-content, 1fr);
    align-items: center;
    margin-bottom: 10px;
  }
  .footer .footer__map li {
    justify-self: center;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 30px;
  }
  .slideshow {
    padding: 0 60px;
  }
}
